@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #cbe4de;
  background: #181818
}

.gradient-1 {
  background: linear-gradient(135deg, #0E8388 0%, #354F2E 100%);
}

.gradient-2 {
  background: linear-gradient(90deg, #0E8388 0%, rgba(53, 79, 46, 0.33) 100%);
}

.gradient-3 {
  background: linear-gradient(90deg, #223D3D 0%, rgba(34, 61, 61, 0.33) 100%);
}

